@using ERP.DataAccess.DTOs.BankBranch
@using ERP.DataAccess.DTOs.Basic_Setup
@using ERP.DataAccess.DTOs.Buyer
@using ERP.DataAccess.DTOs.LC_Open
@using ERP.DataAccess.Domains
@using Newtonsoft.Json
@{
    ViewData["Title"] = "CNF Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lcFileList = (List<LCTransaction>)ViewBag.LCFileList;
    var cnfCompanyList = (List<CNFCompnay>)ViewBag.CNFCompanyList;

    var collectionModeList = (List<CollectionMode>)ViewBag.CollectionModeList;
    var collectionModeJson = JsonConvert.SerializeObject(collectionModeList);

    var orgAccList = (List<OrganizationAccountListDto>)ViewBag.OrganizationBankAccountList;
    var orgAccListModeJson = JsonConvert.SerializeObject(orgAccList);
}

<style type="text/css">
    .row {
        margin-top: 10px !important;
    }

    .row {
        margin-top: 10px !important;
    }

    .card {
        border: 1px solid #1890ff !important;
        border-radius: var(--bs-card-border-radius);
        box-shadow: var(--bs-card-box-shadow);
    }

        .card .card-header {
            border-bottom: 1px solid #1890ff !important;
        }

    .table > thead {
        border: 1px solid #1890ff !important;
    }

    .table > tbody {
        border: 1px solid #1890ff !important;
    }

    .table > tfoot {
        border: 1px solid #1890ff !important;
    }

    hr {
        border-top: 2px solid #1890ff;
    }

    /* .d-none {
                    display: none;
                } */
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Clearing & Forwarding (CNF) Payment</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-0">
                            <select class="form-select" id="cmbCNFCompanay">
                                <option value="0">Select Companay</option>
                                @foreach (var c in cnfCompanyList)
                                {
                                    <option value="@c.Id">@c.CNFCompnayName</option>
                                }
                            </select>
                            <label for="cmbBorder">CNF Companay</label>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function($){
            
        });
    </script>
}