@using ERP.DataAccess.DTOs.BankBranch
@using ERP.DataAccess.DTOs.Basic_Setup
@using ERP.DataAccess.DTOs.Buyer
@using ERP.DataAccess.DTOs.LC_Open
@using ERP.DataAccess.Domains
@{
    ViewData["Title"] = "CNF Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lcFileList = (List<LCTransaction>)ViewBag.LCFileList;
    var collectionModeList = (List<CollectionMode>)ViewBag.CollectionModeList;
}

<style type="text/css">
    .row {
        margin-top: 10px !important;
    }

    .row {
        margin-top: 10px !important;
    }

    .card {
        border: 1px solid #1890ff !important;
        border-radius: var(--bs-card-border-radius);
        box-shadow: var(--bs-card-box-shadow);
    }

        .card .card-header {
            border-bottom: 1px solid #1890ff !important;
        }

    .table > thead {
        border: 1px solid #1890ff !important;
    }

    .table > tbody {
        border: 1px solid #1890ff !important;
    }

    .table > tfoot {
        border: 1px solid #1890ff !important;
    }

    hr {
        border-top: 2px solid #1890ff;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Clearing & Forwarding (CNF) Payment</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dt-responsive table-responsive">
                            <table id="autofill" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center">LC Number</th>
                                        <th class="text-center">CNF Weight (Ton)</th>
                                        <th class="text-center">CNF Amount</th>
                                        <th class="text-center">CNF Date</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tblClearingAndForwarding">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <label style="color:#1890ff; font-weight:800;">CNF Payment List</label>
                <hr />
                <div class="row">
                </div>
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                        <button type="button" id="btnSubmit" data-id="0" class="btn btn-primary px-4 py-2">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("input").on("input", function () {
                $(this).removeClass("is-invalid").addClass("is-valid");
            });
            $(document).on("click", "#btnSubmit", function (e) {
                e.preventDefault();

                var isValid = true;
                function validateField(selector) {
                    var inputField = $(selector);
                    var value = inputField.val()?.trim() || "";
                    var isDropdown = inputField.is("select");

                    if (value === "" || value === "0" || (isDropdown && value === "0")) {
                        inputField.addClass("is-invalid").removeClass("is-valid");
                        isValid = false;
                    } else {
                        inputField.addClass("is-valid").removeClass("is-invalid");
                    }
                }
                //cmbLCNumber txtCNFWeight cmbCNFCompany
                validateField("#cmbLCNumber");
                validateField("#txtCNFWeight");
                validateField("#cmbCNFCompany");

                if (!isValid) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please fill in all required fields."
                    });
                    return;
                }
                var Id = $("#btnSubmit").attr("data-id");
                var LCId = $("#cmbLCNumber option:selected").val();
                var CNFCompanyId = $("#cmbCNFCompany option:selected").val().trim();
                var CNFWeight = parseFloat($("#txtCNFWeight").val().trim());




                var formData = new FormData();
                formData.append("ID", Id);
                formData.append("LCId", LCId);
                formData.append("CNFCompanyId", CNFCompanyId);
                formData.append("CNFWeight", CNFWeight);
                $.ajax({
                    url: '@Url.Action("SaveUpdateClearingAndFordwingCNF", "ClearingAndFordwingCNF")',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log(formData);
                        if (response && response.status === true) {
                            Swal.fire("Success!", response.message, "success").then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire("Error!", "There is something wrong. Please try again.", "error");
                        }
                    },
                    error: function () {
                        Swal.fire("Error!", "Something went wrong. Please try again.", "error");
                    }
                });
            });

            cnfTable = $('#autofill').DataTable({
                destroy: true,
                responsive: true,
                paging: false,
                info: false,
                lengthChange: false,
                createdRow: function (row, data, dataIndex) {
                   $('td', row).addClass('text-center');
                }
            });
            GetClearingAndForwardingList();
        });
        function GetClearingAndForwardingList() {
            cnfTable.clear().draw();
            var formData = new FormData();
            formData.append("LCId", 0);
            $.ajax({
                url: '@Url.Action("ClearingAndFordwingList", "ClearingAndFordwingCNF")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.status && response.data && response.data.length > 0) {
                        
                        $.each(response.data, function (i, item) {
                            console.log(response.data);
                            cnfTable.row.add([
                                item.lcNumber,
                                item.cnfWeight,
                                item.cnfAmount,
                                item.cnfDate,
                                `<a data-id='${item.id}'><input class="form-check-input input-success" type="checkbox" id="customCheckc3"></a>`
                            ]).draw(false);
                        });
                    }
                },
                error: function () {
                    alert("Failed to load data.");
                }
            });
        }
    </script>
}