@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<form method="post">
    <button type="submit" asp-action="GetProductData" asp-controller="Authentication">View Report</button>
</form>

