@using ERP.DataAccess.Domains
@model Organization
@{
    ViewData["Title"] = "Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="" asp-controller="Home" method="post">
    <div class="auth-main">
        <div class="auth-wrapper v3">
            <div class="auth-form">
                <div class="card my-2">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-end mb-4">
                            <h3 class="mb-0"><b>organization</b></h3>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Organization Name</label>
                            <input type="text" asp-for="OrganizatioName" id="name" class="form-control" placeholder="Organization Name">
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Owner Name</label>
                            <input type="text" asp-for="OwnerName" id="ownerName" class="form-control" placeholder="Owner Name">
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary" id="loginForm">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loginForm").on("click",function (e) {
                var email = $("#email").val().trim();
                var pass = $("#password").val().trim();
                if (email == "") {
                    e.preventDefault();
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please enter email"
                    });
                }
                if (pass == "") {
                    e.preventDefault();
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please enter password"
                    });
                }
                if (!$("#customCheckc1").is(":checked")) {
                    e.preventDefault();
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please check 'Keep me signed in' before logging in!"
                    });
                }
            });
        });
    </script>
}