@using ERP.DataAccess.Domains
@model Organization
@{
    ViewData["Title"] = "Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h5>Hello card</h5>
    </div>
    <div class="card-body">
        <p>
            <span class="ti ti-3d-cube-sphere"></span>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loginForm").on("click",function (e) {
                var email = $("#email").val().trim();
                var pass = $("#password").val().trim();
                if (email == "") {
                    e.preventDefault();
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please enter email"
                    });
                }
                if (pass == "") {
                    e.preventDefault();
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please enter password"
                    });
                }
                if (!$("#customCheckc1").is(":checked")) {
                    e.preventDefault();
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please check 'Keep me signed in' before logging in!"
                    });
                }
            });
        });
    </script>
}